<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
  <div class="container mt-3">
    <section class="menu">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">STMIK AKAKOM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="/">
                Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                Isi Data Alumni
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="info">
                Info
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <!-- <a href="/register" class="btn btn-danger" type="submit" style="margin:3px;">Daftar</a> -->
            <a href="/login" class="btn btn-danger" type="submit" style="margin:3px;">Masuk</a>
          </form>
        </div>
      </nav>
    </section>
    <section class="mahasiswa mt-2">
      <div class="card">
        <div class="card-header">
          <span class="my-auto">Masukkan Data Alumni</span>
        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nama">Nama</label>
                    <input type="text" class="form-control" id="nama" name="nama">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nim">Nim</label>
                  <input type="number" class="form-control" id="nim" name="nim">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="jurusan">Jurusan</label>
                  <select name="jurusan" id="jurusan" class="form-control">
                    <option value="Teknik Informatika">Teknik Informatika</option>
                    <option value="Sistem Informasi">Sistem Informasi</option>
                    <option value="Teknik Komputer">Teknik Komputer</option>
                    <option value="Komputer Akuntansi">Komputer Akuntansi</option>
                    <option value="Manajemen Informatika">Manajemen Informatika</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tahun_masuk">Masuk</label>
                  <input type="date" class="form-control" id="tahun_masuk" name="tahun_masuk">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tahun_keluar">Keluar</label>
                  <input type="date" class="form-control" id="tahun_keluar" name="tahun_keluar">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="no_hp">No Hp</label>
                  <input type="number" class="form-control" id="no_hp" name="no_hp">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select name="status" id="status" class="form-control">
                    <option value="kerja">Kerja</option>
                    <option value="magang">Magang</option>
                    <option value="belum kerja">Belum Kerja</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="mhs" style="height: 100%; width: 50%;">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-primary alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                    {{message}}
                  </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
    
              {% block body %}{% endblock %}
            </div>
            <button class="btn btn-primary mt-3">Simpan</button>
          </form>
        </div>
      </div>
    </section>
  </div>
  </div>

  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>