<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
  <div class="container mt-3">
    <section class="menu">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">STMIK AKAKOM SERTIFIKASI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="dashboard">
                Daftar Alumni
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="buat_berita">
                Berita
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="lihat_berita">
                Lihat Berita
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <a href="/" class="btn btn-danger" type="submit" style="margin:3px;">Keluar</a>
          </form>
        </div>
      </nav>
    </section>
    <section class="berita mt-2">
      <div class="card">
        <div class="card-header">
          <span class="my-auto">Buat Berita</span>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="judul">Judul</label>
                  <input type="text" class="form-control" id="judul" name="judul">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="isi">Isi Berita</label>
                  <textarea name="isi" id="isi" cols="55" rows="5">
                    
                  </textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tgl_post">Tanggal Post</label>
                  <input type="date" class="form-control" id="tanggal_upload" name="tanggal_upload">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="tgl_post">Upload Gambar</label>
                  <input type="file" class="form-control" id="image" name="image">
                </div>
              </div>
            </div>
            <button class="btn btn-primary mt-3">Posting</button>
          </form>
  
        </div>
      </div>
    </section>
  </div>

  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>