<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
  <div class="container mt-3">
    <section class="menu">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">STMIK AKAKOM SERTIFIKASI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="dashboard">
                Daftar Alumni
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="buat_berita">
                Berita
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="lihat_berita">
                Lihat Berita
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <a href="/" class="btn btn-danger" type="submit" style="margin:3px;">Keluar</a>
          </form>
        </div>
      </nav>
    </section>
    <section class="alumni mt-2">
      <div class="card">
        <div class="card-header">
          <span class="my-auto">Data Alumni Stmik Akakom</span>
        </div>
        <div class="card-body">
          <table class="table table-bordered border-primary">
            <thead>
              <th>No</th>
              <th>Nama Alumni</th>
              <th>Nim</th>
              <th>Jurusan</th>
              <th>Tahun Masuk</th>
              <th>Tahun Keluar</th>
              <th>No Handphone</th>
              <th>Status</th>
              <th>Action</th>
            </thead>
            <tbody>
              {% for row in value %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[4]}}</td>
                  <td>{{row[5]}}</td>
                  <td>{{row[6]}}</td>
                  <td>{{row[7]}}</td>
                  <td>
                    <a class="btn btn-danger" href="/delete/{{ row.0 }}" onclick="return confirm('anda yakin ingin hapus ?')">Delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>

  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>