<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
  <div class="container mt-3">
    <section class="menu">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">STMIK AKAKOM SERTIFIKASI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="dashboard">
                Daftar Alumni
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="buat_berita">
                Berita
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="lihat_berita">
                Lihat Berita
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <a href="/" class="btn btn-danger" type="submit" style="margin:3px;">Keluar</a>
          </form>
        </div>
      </nav>
    </section>
    <section class="daftar_berita mt-2">
      <div class="card">
        <div class="card-header">
          <span class="my-auto">Berita Stmik Akakom</span>
        </div>
        <div class="berita" style="height: 100%; width: 50%;">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-primary alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
                {{message}}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% block body %}{% endblock %}
        </div>
        <div class="card-body">
          <table class="table table-bordered border-primary mt-3">
            <thead>
              <th>No</th>
              <th>Judul Berita</th>
              <th>Isi</th>
              <th>Tanggal Post</th>
              <th>Image</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Vaksin Covid-19</td>
                <td>Vaksinasi Covid-19 Tahap 2 Akan Segera Dilakukan Di Berbagai Daerah</td>
                <td>2021-08-10</td>
                <td>
                  <img src="{{url_for('static', filename='img/vacin.jpg')}}" alt=""
                  style="width: 150px; height: 150px;"
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
  
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>