<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <style>
    a:hover{
      text-decoration:none;
    }
    .section-padding {
      padding: 60px 0;
    }
    .bottom {
        background-color: #0a1c2e;
    }
    .bottom .copyright {
        color: #e5e5e5;
        font-weight: 600;
    }
    .copyright a {
        color: #f2ff49;
        margin-left: 3px;
        padding-right: 3px;
    }
    .bottom p {
        margin-bottom: 0;
        line-height: 50px;
        font-size: 16px;
        font-weight: 400;
    }
    .copyright p span {
        color: #d1caca;
    }
    .bottom .copyright p, .bottom .copyright a:hover{
        color: #6c6d83;
    }
  </style>
</head>

<body>
  <div class="container mt-2">
    <section class="menu">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">STMIK AKAKOM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
              <a class="nav-link" href="/">
                Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="mahasiswa/daftar_alumni">
                Isi Data Alumni
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="mahasiswa/info">
                Info
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <a href="/register" class="btn btn-danger" type="submit" style="margin:3px;">Daftar</a>
            <a href="/login" class="btn btn-warning" type="submit" style="margin:3px;">Masuk</a>
          </form>
        </div>
      </nav>
    </section>
    <section class="tampilan mt-2">
      <div class="jumbotron">
        <h1 style="text-align:center; font-weight:bold;">SELAMAT DATANG DI WEBSITE</h1>
        <br />
        <h5 style="text-align:center; font-weight:bold;">PENDATAAN ALUMNI</h5>
        <br />
        <h5 style="text-align:center; font-weight:bold;">STMIK AKAKOM YOGYAKARTA</h5>
      </div>
    </section>
    <!-- <section class="sertifikasi">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Baca Berita</li>
        </ol>
      </nav>      
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 text-white bg-dark">
            <img class="card-img-top" src="{{url_for('static', filename='img/1.png')}}" alt="Card image cap" style="height: 250px; widows: 400px;" />
            <div class="card-body">
              <p class="card-text">3 Dosen Akakom mengikuti Konferensi Internasional ICIRSTM 2018 di National University Singapore</p>
              <a href="https://www.akakom.ac.id/site/news/468/3-dosen-akakom-mengikuti-konferensi-internasional-icirstm-2018-di-national-university-singapore" class="btn btn-outline-light btn-sm">Baca Berita</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 text-white bg-dark">
            <img class="card-img-top" src="{{url_for('static', filename='img/2.jpg')}}" alt="Card image cap" style="height: 250px; widows: 400px;"/>
            <div class="card-body">
              <p class="card-text">Sri Redjeki, S.Si., M.Kom, berhasil lolos dalam program Research Dive : Artificial Intelligence and Machine Learning</p>
              <a href="https://www.akakom.ac.id/site/news/462/sri-redjeki-s-si-m-kom-dosen-stmik-akakom-berhasil-lolos-dalam-program-research-dive-artificial-intelligence-and-machine-learning-for-estimating-poverty" class="btn btn-outline-light btn-sm">Baca Berita</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 text-white bg-dark">
            <img class="card-img-top" src="{{url_for('static', filename='img/3.png')}}" alt="Card image cap" style="height: 250px; widows: 400px;" />
            <div class="card-body">
              <p class="card-text">Mahasiswa STMIK Akakom raih mendali emas di lomba Kejurkot Tarung Derajat Kota Yogjakarta 2018</p>
              <a href="https://www.akakom.ac.id/site/news/460/mahasiswa-stmik-akakom-raih-mendali-emas-di-lomba-kejurkot-tarung-derajat-kota-yogjakarta-2018" class="btn btn-outline-light btn-sm">Baca Berita</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section class="footer mt-2">
      <div class="footer">
        <div class="bottom section-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="copyright">
                  <p>
                    ©
                    <span>2021</span>
                    <a href="#" class="transition">STMIK AKAKOM YOGYAKARTA</a> All rights reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>