<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Halaman Login</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
  <div class="container mt-3">
    <section class="berita mt-2">
      <div class="card">
        <div class="card-header">
          <span class="my-auto">Masuk</span>
        </div>
        <div class="card-body">
          <form accept="" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
              </div>
            </div>
            <div class="msg" style="height: 100%; width: 50%;">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-primary alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                    {{message}}
                  </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}

              {% block body %}{% endblock %}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </section>
  </div>

  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>
